{
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "max-len": [
      1,
      80,
      2
    ],
    "space-after-keywords": [
      2,
      "always"
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "no-multiple-empty-lines": [
      1,
      {
        "max": 2
      }
    ],
    "strict": 0,
    "no-console": 0,
    "curly": [
      2,
      "multi-line"
    ]
  },
  "ecmaFeatures": {
    "modules": true,
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended"
}
